body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #000000; 
  }
  
  .reloj {
    border: 1rem solid #0c833d; 
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50vh;
    font-family: "monospace";
    font-size: 3rem;
    color: #4ffd58; 
    background-color: #000000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    transition: background-color 0.3s;
  }
  
  .reloj:hover {
    background-color: #000000; 
  }
  